<app-navigation [sections]='sections' [slide]='currentSlide' *ngIf='sections && currentSlide'
                [hidden]='currentSlide === slides[0]' [gridImage]='gridImage'
></app-navigation>
<div class='logo'
    [class.spread-out]='spreadOut'
    [class.first]='currentSlide === slides[0]'
></div>
<div class='scrolled' #scrolled
    (touchstart)='gestureStart($event)'
>
    <!-- <div class='slides'> -->
        <div class='chart-container' [style.background-color]='bgColor' [style.margin-bottom]='-height + "px"'>
            <div class='chart'>
                <app-chart [slide]='currentSlide' *ngIf='currentSlide' 
                           [highlightIndicator]='highlightedIndicator'
                           [highlightIndicators]='highlightedIndicators'
                           [sliderResult]='currentSlide.slider_result ? (sliderResult[currentSlide.slider_result] > -1 ? sliderResult[currentSlide.slider_result] : null ) : null'
                           [gridImage]='gridImage'
                           (hover)='hover = $event'
                           #chart></app-chart>
            </div>
        </div>
        <div class='slide1overlay' [class.visible]='currentSlide === slides[0]' [class.spread-out]='spreadOut'>
            <div class='scroll-down'
                [style]='"--offset:" + spreadOutOffsetText + "px"'
            ></div>
            <a class='scroll-end' href='#המדד_המלא'>או דלגו ישר למדד המלא</a>
            <div class='animation'>
                <img src='assets/img/bg/bg1.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg2.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg3.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg4.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg5.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg6.jpg' [style.mask-image]='animationMaskUrl'>
                <img src='assets/img/bg/bg-gray.jpg' class='static' [style.mask-image]='animationMaskUrl'>
            </div>
        </div>
        <ng-container *ngFor='let slide of slides; let i = index'>
            <div class='slide' *ngIf='slide.section.role !== "footer" && !slide.exploration && !slide.slider'
                [class.darken]='slide.section.role === "intro"'
                [attr.data-slide]='i'
                [attr.data-slug]='slide.id'
                [style.text-shadow]='textShadow'
            >
                <div class='text' 
                     [class.first]='i === 0'
                     [class.spread-out]='i === 0 && spreadOut'
                     [innerHTML]='slideContent(slide, 0)'
                     [style]='"--offset:" + spreadOutOffsetH1 + "px"'
                ></div>
                <ul class='dimension_list' *ngIf='slide.dimension_list'>
                    <li *ngFor='let indicator of slide.dimension_list'>
                        <div class='indicator-container' (mouseover)='highlightIndicators([indicator])' (mouseleave)='highlightIndicators([])'
                            (touchstart)='highlightIndicators([indicator])' (touchend)='highlightIndicators([])'>
                            <span class='indicator'>{{indicator}}</span>
                            <span class='indicator-arrow'></span>    
                        </div>
                    </li>
                </ul>
                <div class='text' *ngIf='slide.content.length > 1' [innerHTML]='slideContent(slide, 1)'></div>
            </div>
            <div class='slide exploration' *ngIf='slide.section.role !== "footer" && slide.exploration'
                 [attr.data-slide]='i' [attr.data-slug]='"המדד"'
                 [style.text-shadow]='textShadow'
            >
                <div class='text' [innerHTML]='slideContent(slide, 0)' *ngIf='slideContent(slide, 0)'></div>
                <app-weights [slide]='slide'
                                (updated)='updateData(slide, $event)' (highlightIndicator)='highlightIndicators($event)'
                ></app-weights>    
            </div>
            <div class='slide slider' *ngIf='slide.section.role !== "footer" && slide.slider'
                 [attr.data-slide]='i' [attr.data-slug]='slide.id'
                 [style.text-shadow]='textShadow'
            >
                <div class='text' [innerHTML]='slideContent(slide, 0)'></div>
                <app-slider [slide]='slide' (updated)='updateSliderResult(slide, $event)'
                ></app-slider>
                </div>
            <app-footer class='slide footer' [slide]='slide' *ngIf='slide.section.role === "footer"'
                        [attr.data-slide]='i' [attr.data-slug]='slide.id'
            ></app-footer>
        </ng-container>
    <!-- </div>     -->
</div>
<div class='tooltip' [style.top.px]='hover.top' [style.left.px]='hover.left' [class.bottom]='hover.isBottom'
    [class.dark]='currentSlide.section.role === "intro"'
    *ngIf='hover.country_name'>
    <span>
        <strong>{{hover.country_name}}</strong><br/>
        <span>{{hover.title}}<ng-container *ngIf='hover.value'>: {{hover.value}}</ng-container></span>
        <ng-container *ngIf='hover.estimated'> (ציון דמה)</ng-container>
    </span>
</div>
<svg width="600" height="561" viewbox="0 0 600 561" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" #animationMask>
    <style>
        @keyframes wave {
            0% { transform: scaleX(0); }
            33.30% { transform: scaleX(1); }
            66.60% { transform: scaleX(0); }
        }
        .___bar {
            animation: wave 8.00s infinite;
            animation-timing-function: ease-in-out;
            transform-origin: left;
            transform: scaleX(0);
        }
    </style>
    <rect style="animation-delay: 0.000s;" fill="#fff" height="15" width="600" y="0" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.081s;" fill="#fff" height="15" width="600" y="17" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.162s;" fill="#fff" height="15" width="600" y="34" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.243s;" fill="#fff" height="15" width="600" y="51" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.324s;" fill="#fff" height="15" width="600" y="68" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.405s;" fill="#fff" height="15" width="600" y="85" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.486s;" fill="#fff" height="15" width="600" y="102" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.567s;" fill="#fff" height="15" width="600" y="119" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.648s;" fill="#fff" height="15" width="600" y="136" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.729s;" fill="#fff" height="15" width="600" y="153" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.810s;" fill="#fff" height="15" width="600" y="170" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.891s;" fill="#fff" height="15" width="600" y="187" x="0" class="___bar"></rect>
    <rect style="animation-delay: 0.972s;" fill="#fff" height="15" width="600" y="204" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.053s;" fill="#fff" height="15" width="600" y="221" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.134s;" fill="#fff" height="15" width="600" y="238" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.215s;" fill="#fff" height="15" width="600" y="255" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.296s;" fill="#fff" height="15" width="600" y="272" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.376s;" fill="#fff" height="15" width="600" y="289" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.457s;" fill="#fff" height="15" width="600" y="306" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.538s;" fill="#fff" height="15" width="600" y="323" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.619s;" fill="#fff" height="15" width="600" y="340" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.700s;" fill="#fff" height="15" width="600" y="357" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.781s;" fill="#fff" height="15" width="600" y="374" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.862s;" fill="#fff" height="15" width="600" y="391" x="0" class="___bar"></rect>
    <rect style="animation-delay: 1.943s;" fill="#fff" height="15" width="600" y="408" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.024s;" fill="#fff" height="15" width="600" y="425" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.105s;" fill="#fff" height="15" width="600" y="442" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.186s;" fill="#fff" height="15" width="600" y="459" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.267s;" fill="#fff" height="15" width="600" y="476" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.348s;" fill="#fff" height="15" width="600" y="493" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.429s;" fill="#fff" height="15" width="600" y="510" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.510s;" fill="#fff" height="15" width="600" y="527" x="0" class="___bar"></rect>
    <rect style="animation-delay: 2.591s;" fill="#fff" height="15" width="600" y="544" x="0" class="___bar"></rect>
</svg>
