@import '../../common.less';

@desktop-slide-width: 600px;
@mobile-slide-width: 300px;

.slides {
    position: relative;
    
    .slide {
        .font-light;
        .desktop({
            font-size: 32px;
            line-height: 42px;    
            max-width: @desktop-slide-width;
        });
        .mobile({
            font-size: 20px;
            line-height: 31px;    
            max-width: @mobile-slide-width;
        });
        color: @color-white;
        z-index: 1;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px;
        scroll-snap-align: start;
        width: 100%;
        &.darken {
            color: @color-text;
        }

        .text {
            ::ng-deep {
                p {
                    margin: 1em 0;
                }
                strong {
                    .font-bold;
                }
            }    
        }

        ul.dimension_list {
            // display: list-item;
            flex-flow: column;
            // gap: 8px;
            margin: 0;
            li {
                .indicator-container {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    gap: 8px;
                    .indicator {
                        text-decoration: underline dashed;
                        cursor: help;
                    }
                    .indicator-arrow {
                        .background-image('assets/img/icon-arrow-white.svg');
                        width: 24px;
                        height: 24px;
                    }    
                    border-radius: 4px;
                    padding-right: 40px;
                    margin-right: -40px;
                    &:hover {
                        background: rgba(255, 255, 255, 0.10);
                    }
                }
                width: max-content;
            }
        }
    }

    .slide1overlay {
        position: absolute;
        top: 0;
        right: 0;
        .desktop({
            width: @desktop-slide-width;
        });
        .mobile({
            width: @mobile-slide-width;
        });
        height: 100vh;
        pointer-events: none;
        display: flex;
        flex-flow: column;

        .logo {
            position: absolute;
            top: 4px;
            right: -4px;
            .background-image('assets/img/logo.png');
            width: 115px;
            height: 115px;
        }
        .scroll-down {
            .background-image('assets/img/scrolldown.svg');
            width: 32px;
            height: 56px;
            cursor: pointer;
            position: absolute;
            bottom: 32px;
            right: calc(50% ~'-' 16px);
            pointer-events: all;
        }
    }
    .footer {
        scroll-snap-align: start;
        padding: 16px;
        width: 100%;
        max-width: 600px;
    }

    .chart-container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        flex-flow: column;
        align-items: flex-end;
        .chart {
            width: 100%;
            height: 100vh;
            position: sticky;
            top: 0;
        }
        .transition(background-color);
    }
}