<div class='slides'>
    <div class='chart-container' [style.background-color]='bgColor'>
        <div class='chart'>
            <app-chart [slide]='currentSlide' *ngIf='currentSlide'></app-chart>
        </div>
    </div>
    <ng-container *ngFor='let slide of slides; let i = index'>
        <div class='slide' *ngIf='slide.section.role !== "footer"'
            [class.darken]='slide.section.role === "intro"'
            [attr.data-slide]='i' [innerHTML]='md._(slide.content)'>
        </div>
        <app-footer class='footer' [footer]='slide.content' *ngIf='slide.section.role === "footer"' [attr.data-slide]='i'></app-footer>
    </ng-container>
</div>
