@import '../../common.less';

@desktop-slide-width: 624px;
@mobile-slide-width: 300px;

:host {
    height: 100%;
    width: 100%;
    .desktop({
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        app-navigation {
            flex: 0 0 auto;
        }
    });
    .mobile({
        display: flex;
        flex-flow: column;
        align-items: stretch;
        app-navigation {
            position: fixed;
            top: 0;
            right: 0;
        }
        padding-top: 56px;
        overflow: hidden;
    });
}

.scrolled {
    .desktop({
        height: 100%;
        flex: 1 1 100%;
    });
    .mobile({
        width: 100%;
        flex: 1 1 auto;
    });
    .overflow-scroll;
    &.snapping {
        scroll-snap-type: y mandatory;
        scroll-snap-stop: normal;  
    }
    position: relative;
    display: flex;
    flex-flow: column;
    
    .slide {
        .font-light;
        .desktop({
            font-size: 32px;
            line-height: 42px;    
            max-width: @desktop-slide-width;
        });
        .mobile({
            font-size: 20px;
            line-height: 31px;    
            max-width: @mobile-slide-width;
        });
        color: @color-white;
        z-index: 1;
        flex: 0 0 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px;
        scroll-snap-align: start;
        width: 100%;

        pointer-events: none;

        & > * {
            pointer-events: all;
        }

        &.darken {
            color: @color-text;
        }

        .text {
            .desktop({
                max-width: @desktop-slide-width;
            });
            .mobile({
                max-width: @mobile-slide-width;
            });    
            ::ng-deep {
                p {
                    margin: 1em 0;
                }
                strong {
                    .font-bold;
                }
            }    
        }

        ul.dimension_list {
            // display: list-item;
            flex-flow: column;
            // gap: 8px;
            margin: 0;
            width: 100%;
            li {
                .indicator-container {
                    // display: flex;
                    // flex-flow: row;
                    display: inline;
                    align-items: center;
                    // gap: 8px;
                    .indicator {
                        text-decoration: underline dashed;
                    }
                    .indicator-arrow {
                        display: inline-block;
                        vertical-align: middle;
                        .background-image('assets/img/icon-arrow-white.svg');
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;
                        margin-bottom: 2px;
                    }    
                    border-radius: 4px;
                    padding-right: 40px;
                    margin-right: -40px;
                    &:hover {
                        background: rgba(255, 255, 255, 0.10);
                    }
                }
                width: fit-content;
                max-width: 100%;
            }
        }

        &.slider {
            width: 100%;
            max-width: none;
            position: relative;
            justify-content: center;
            
            .text {
                transform: translateY(-50%)translateY(-16px);
            }

            app-slider {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .desktop({
                    padding-left: 120px;
                });
                .mobile({
                    padding-left: 30px;
                });
            }
        }
    }

    .slide1overlay {
        position: absolute;
        top: 0;
        right: 0;
        .desktop({
            width: @desktop-slide-width;
        });
        .mobile({
            width: @mobile-slide-width;
        });
        height: 100%;
        pointer-events: none;
        display: flex;
        flex-flow: column;

        .logo {
            position: absolute;
            top: ~'calc((100% - 10px) / 12)';
            transform: translateY(-50%);
            right: -4px;
            .background-image('assets/img/logo.png');
            width: 115px;
            height: 97px;
            max-height: 16%;
        }
        .scroll-down {
            .background-image('assets/img/scrolldown.svg');
            width: 32px;
            height: 56px;
            cursor: pointer;
            position: absolute;
            bottom: 32px;
            right: calc(50% ~'-' 16px);
            pointer-events: all;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            position: fixed;

            &.visible {
                opacity: 1;
            }
        }
    }

    .exploration {
        scroll-snap-align: none;
        justify-content: flex-start;
        padding: 16px;
        width: 100%;
        max-width: none;
        height: auto;
        .text {
            .desktop({
                max-width: @desktop-slide-width;
            });
            .mobile({
                max-width: @mobile-slide-width;
            });    
        }
    }
    .footer {
        padding: 16px;
        width: 100%;
        .desktop({
            max-width: @desktop-slide-width;
        });
        .mobile({
            max-width: @mobile-slide-width;
        });
    }

    .chart-container {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 0;
        flex-flow: column;
        align-items: flex-end;
        .chart {
            width: 100%;
            .mobile({
                height: 100%;
            });
            .desktop({
                height: 100vh;
            });
            position: sticky;
            top: 0;
        }
        .transition(background-color);
    }
}