<div class='slides'>
    <div class='chart-container' [style.background-color]='bgColor'>
        <div class='chart'>
            <app-chart [slide]='currentSlide' *ngIf='currentSlide' [highlightIndicator]='highlightedIndicator'></app-chart>
        </div>
    </div>
    <div class='slide1overlay'>
        <div class='logo'></div>
        <div class='scroll-down'></div>
    </div>
    <ng-container *ngFor='let slide of slides; let i = index'>
        <div class='slide' *ngIf='slide.section.role !== "footer"'
            [class.darken]='slide.section.role === "intro"'
            [attr.data-slide]='i'>
            <div class='text' [innerHTML]='md._("(" + i + ") " + slide.content[0])'></div>
            <ul class='dimension_list' *ngIf='slide.dimension_list'>
                <li *ngFor='let indicator of slide.dimension_list'>
                    <div class='indicator-container' (mouseover)='highlightedIndicator = indicator' (mouseleave)='highlightedIndicator = null'>
                        <span class='indicator'>{{indicator}}</span>
                        <span class='indicator-arrow'></span>    
                    </div>
                </li>
            </ul>
            <div class='text' *ngIf='slide.content.length > 1' [innerHTML]='md._(slide.content[1])'></div>
        </div>
        <app-footer class='footer' [footer]='slide.content[0]' *ngIf='slide.section.role === "footer"' [attr.data-slide]='i'></app-footer>
    </ng-container>
</div>
