@import '../../common.less';

@desktop-slide-width: 624px;
@mobile-slide-width: 300px;

:host {
    height: 100%;
    width: 100%;
    .desktop({
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        app-navigation {
            flex: 0 0 auto;
        }
    });
    .mobile({
        display: flex;
        flex-flow: column;
        align-items: stretch;
        app-navigation {
            position: fixed;
            top: 0;
            right: 0;
        }
        padding-top: 56px;
        overflow: hidden;
    });

    > svg {
        width: 0;
        height: 0;
    }
    position: relative;
}

.logo {
    position: absolute;
    top: 28px;
    right: 12px;
    .background-image('assets/img/logo.png');
    width: 115px;
    height: 97px;
    max-height: 16%;
    .transition(opacity transform);
    z-index: 2;
    opacity: 0;
    transform: translateY(calc(-100% ~'-' 28px));
    .mobile({
        &.first.spread-out {
            opacity: 1;
            transform: translateY(0);
        }
    });
    .desktop({
        &.first {
            opacity: 1;
            transform: translateY(0);
        }
    })
}

.scrolled {
    .desktop({
        height: 100%;
        flex: 1 1 100%;
    });
    .mobile({
        width: 100%;
        flex: 1 1 auto;
    });
    .overflow-scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal;
    position: relative;
    display: flex;
    flex-flow: column;
    overscroll-behavior: none;
    
    .slide {
        .font-light;
        .desktop({
            font-size: 32px;
            line-height: 42px;    
            max-width: @desktop-slide-width;
        });
        .mobile({
            font-size: 20px;
            line-height: 31px;    
            max-width: @mobile-slide-width;
        });
        color: @color-white;
        z-index: 1;
        flex: 0 0 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px;
        scroll-snap-align: start;
        width: 100%;

        pointer-events: none;

        & > * {
            pointer-events: all;
        }

        &.darken {
            color: @color-text;
        }

        .text {
            ::ng-deep {
                p {
                    margin: 1em 0;
                }
                strong {
                    .font-bold;
                }
                a {
                    pointer-events: all;
                }
                h1 {
                    margin: 0;
                    font-weight: 700;
                }
            }
            .desktop({
                max-width: @desktop-slide-width;
                ::ng-deep {
                    h1 {
                        font-size: 64px;
                        margin-bottom: 64px;
                    }
                }
            });
            .mobile({
                max-width: @mobile-slide-width;
                ::ng-deep {
                    h1 {
                        font-size: 40px;
                        margin-bottom: 40px;
                    }
                }
                // &.first {
                //     padding: 0 16px;
                // }
            });    
            .transition(transform);
            &.spread-out {
                transform: translateY(var(--offset));
            }
        }

        ul.dimension_list {
            // display: list-item;
            flex-flow: column;
            // gap: 8px;
            margin: 0;
            width: 100%;
            li {
                .indicator-container {
                    // display: flex;
                    // flex-flow: row;
                    display: inline;
                    align-items: center;
                    // gap: 8px;
                    .indicator {
                        text-decoration: underline dashed;
                    }
                    .indicator-arrow {
                        display: inline-block;
                        vertical-align: middle;
                        .background-image('assets/img/icon-arrow-white.svg');
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;
                        margin-bottom: 2px;
                    }    
                    border-radius: 4px;
                    padding-right: 40px;
                    margin-right: -40px;
                    &:hover {
                        background: rgba(255, 255, 255, 0.10);
                    }
                }
                width: fit-content;
                max-width: 100%;
            }
        }

        &.slider {
            width: 100%;
            max-width: none;
            position: relative;
            justify-content: center;
            
            .text {
                transform: translateY(-50%)translateY(-16px);
            }

            app-slider {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .desktop({
                    padding-left: 120px;
                });
                .mobile({
                    padding-left: 30px;
                });
            }
        }
    }

    .slide1overlay {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        display: flex;
        flex-flow: column;
        overflow: visible;

        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        .scroll-down {
            position: fixed;
            .desktop({
                width: 32px;
                height: 56px;
                bottom: 32px;
                margin-right: 13.5px;
                .background-image('assets/img/scrolldown.svg');
                transform: translateY(200%);
            });
            .mobile({
                width: 22px;
                height: 22px;
                bottom: 12px;
                margin-right: 16px;
                .background-image('assets/img/icon-scrolldown-mobile.svg');
                .transition(transform);
                transform: translateY(var(--offset));
                position: absolute;
            });
            cursor: pointer;
            pointer-events: all;
            .transition(transform);
        }
        .scroll-end {
            position: fixed;
            pointer-events: all;
            border-radius: 8px;
            border: 1px solid rgba(53, 49, 0, 0.40);
                
            box-shadow: 0px 2px 0px 0px #D4D7D6;
            display: flex;
            flex-flow: row;
            align-items: center;
            padding: 12px;
            padding-left: 46px;
            color: var(--Text, #243856);
            .font-supporting;
            font-weight: 700;
            line-height: 16px; /* 100% */
            text-decoration: none;
            z-index: 1;
            .transition(transform);
            transform: translateY(200%);

            .desktop({
                bottom: 32px;
                margin-right: 80px;
                height: 56px;
                font-size: 16px;
                background: 
                    url(../../assets/img/icon-scroll-end-desktop.svg) no-repeat 12px center,
                    linear-gradient(0deg, rgba(24, 44, 0, 0.10) 0%, rgba(24, 44, 0, 0.10) 100%), #fff;

            });
            .mobile({
                left: 8px;
                bottom: 8px;
                height: 48px;
                font-size: 13px;
                background: 
                    url(../../assets/img/icon-scroll-end-mobile.svg) no-repeat 12px center,
                    linear-gradient(0deg, rgba(24, 44, 0, 0.10) 0%, rgba(24, 44, 0, 0.10) 100%), #fff;
            });

            &:hover {
                border-color: #3F374B;
            }
        }
        .animation {
            img, svg {
                position: fixed;
                top: 0;
                width: 80%;
                .desktop({
                    height: calc(100% ~'-' 32px);
                    left: 120px;
                });
                .mobile({
                    height: calc(100% ~'-' 40px);
                    left: 30px;
                });
            }
            img {            
                mask-position: center left;
                mask-size: 100% 100%;
                mask-repeat: no-repeat;
                object-fit: cover;

                &:not(.static) {
                    animation: showhide;
                    animation-duration: 48s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    .mobile({
                        display: none;
                    });
                }
                &.static {
                    .desktop({
                        display: none;
                    });
                }

                &:nth-child(1) {
                    animation-delay: calc(-6 * 8s)
                }
                &:nth-child(2) {
                    animation-delay: calc(-5 * 8s)
                }
                &:nth-child(3) {
                    animation-delay: calc(-4 * 8s)
                }
                &:nth-child(4) {
                    animation-delay: calc(-3 * 8s)
                }
                &:nth-child(5) {
                    animation-delay: calc(-2 * 8s)
                }
                &:nth-child(6) {
                    animation-delay: calc(-1 * 8s);
                }
            }
            @keyframes showhide {
                from {
                    // display: block;
                    opacity: 1;
                //   opacity: 0.5;
                }
                16.666% {
                    // display: block;
                    opacity: 1;
                }
                16.667% {
                    // display: none;
                    opacity: 0;
                //   opacity: 0.5;
                }
                // 2.5% {
                //   opacity: 1;
                // }
                // 15% {
                //   opacity: 1;
                // }
                // 18.5% {
                //   opacity: 0;
                //   display: block;
                // }
                // 19% {
                //   display: none;
                // }
                // 97% {
                //     display: none;
                // }
                // 97.5% {
                //   opacity: 0;
                //   display: block;
                // }
                to {
                //   opacity: 0.5;
                //   display: block;
                    opacity: 0;
                }
            }              
        }
        &.visible {
            opacity: 1;
            z-index: 1;
            .scroll-end {
                transform: translateY(0);
            }
            .scroll-down {
                .desktop({
                    transform: translateY(0);
                });
            }
        }        
        .mobile({
            &.spread-out {
                .scroll-down {
                    transform: translateY(0);
                    position: fixed;
                }
                .scroll-end {
                    transform: translateY(200%);
                }
                .animation {
                    img {
                        &.static {
                            display: none;
                        }
                        &:not(.static) {
                            display: block;
                        }
                    }
                }
            }
        });
    }

    .exploration {
        // scroll-snap-align: none;
        justify-content: flex-end;
        padding: 16px;
        width: 100%;
        max-width: none;
        // height: auto;
        .text {
            .desktop({
                max-width: @desktop-slide-width;
            });
            .mobile({
                max-width: @mobile-slide-width;
            });    
        }
    }
    .footer {
        padding: 16px;
        width: 100%;
        .desktop({
            max-width: @desktop-slide-width;
        });
        .mobile({
            max-width: @mobile-slide-width;
        });
    }

    .chart-container {
        display: flex;
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 100%;
        z-index: 0;
        flex-flow: column;
        align-items: flex-end;
        .chart {
            width: 100%;
            .mobile({
                height: 100%;
            });
            .desktop({
                height: 100vh;
            });
            position: sticky;
            top: 0;
        }
        .transition(background-color);
    }
}

.tooltip {
    position: absolute;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    background-color: @color-white;
    padding: 8px;
    z-index: 1;
    color: @color-text;
    .font-supporting;
    font-size: 16px;
    font-weight: 400;

    strong {
        font-weight: 700;
    }
    padding: 4px 8px;
    border-radius: 4px;
    transform: translate(-12px, calc(-100% ~'-' 8px));

    &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background-color: @color-white;
        top: calc(100% ~'-' 7px);
        left: 12px;
        border-radius: 2px;
        transform: rotate(45deg);
    }

    &.dark {
        background-color: @color-text;
        color: @color-white;
        &::after {
            background-color: @color-text;
        }
    }

    &.bottom {
        transform: translate(-12px, 8px);
        &::after {
            top: -5px;
            transform: rotate(225deg);
        }
    }
}
