<app-weights-slider [title]='dimension' [bold]='true'
    [weight]='ownWeight'
    [state]='state'
    [cancel]='cancel'
    [color]='color'
    (updating)='updateWeight(indicators, $event, false); updateHighlight(indicators); ownWeight = $event'
    (updated)='updateWeight(indicators, $event, true); updateHighlight([]); ownWeight = $event'
    (show)='show.next(indicators)'
    (hide)='hide.next(indicators)'
    (spotlight)='spotlight.next(indicators)'
    (openToggle)='open = $event'
></app-weights-slider>

@if (open) {
    <app-weights-slider *ngFor='let indicator of indicators'
        [title]='indicator' [bold]='false' [weight]='indicatorWeights[indicator]' [state]='states[indicator]'
        [color]='color'
        (updating)='updateWeight([indicator], $event, false); updateHighlight([indicator])'
        (updated)='updateWeight([indicator], $event, true); updateHighlight([])'
        (show)='show.next([indicator])'
        (hide)='hide.next([indicator])'
        (spotlight)='spotlight.next([indicator])'
    ></app-weights-slider>
}
