@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    position: relative;
    padding-top: 64px;
    
    .container {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;

        .arrow {
            // position: absolute;
            align-self: flex-start;
            margin-right: 16px;
            // transform: translateY(48px);
            a {
                margin: 0;
                .mobile({
                    font-size: 20px;
                });
                &:hover {
                    background-color: white;
                    // mix-blend-mode: screen; /* This makes the cutout text possible */
                    color: #61589c !important;        
                    text-shadow: none !important;
                }
            }
            cursor: pointer;
        }

        input {
            direction: ltr;
            width: calc(100% ~'-' 20px);
            max-width: 720px;

            -webkit-appearance: none;
            appearance: none;
            height: 16px;
            background: transparent;
    
            .slider-track({
                background-color: transparent;
            });

            .slider-thumb({
                width: 40px;
                height: 40px;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                .background-image('assets/img/slider-handle.svg');
            });

        }
    }
}