<div class='container'>
    <div class='slider'>
        <input #slider type='range' [min]='min' [max]='max' [step]='step' [(ngModel)]='guess' [style.background-image]='gradient' [class.guessed]='guessed'>
        <span *ngIf='guessed' class='slider-guess' [style.left.px]='guessPosition'>{{guess}}</span>
    </div>
    <div class='arrow' (click)='scrollAway()'>
        <a *ngIf='!guessed' [style.visibility]='"hidden"'></a>
        <a *ngIf='guessed'>לדעתי {{guess}}, בואו נראה אם צדקתי</a>
    </div>
</div>
