@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;

    height: 100%;
    width: 100%;
    .overflow-scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}
