<app-weights-dimension *ngFor='let dimension of dimensions' 
                      [dimension]='dimension'
                      [indicators]='dimensionIndicators[dimension]'
                      [indicatorWeights]='indicatorWeights'
                      [states]='states'
                      [color]='dimensionColors[dimension]'
                      (highlight)='highlightIndicator.next($event)'
                      (weight)='updateIndicatorWeight($event.indicators, $event.weight, $event.sort)'
                      (show)='show($event)'
                      (hide)='hide($event)'
                      (spotlight)='spotlight($event)'
></app-weights-dimension>