<div class='countries' [class.visible]='countriesVisible()' [class.intro]='slide.section.role === "intro"' #countries>

</div>
<div class='chart' [class.intro]='slide.section.role === "intro"' #chart>
    <div class='grid' [style.backgroundImage]='gridImage'></div>
    <div class='average' [class.visible]='avgVisible' #average [style.left]='avgPos + "px"'>
        <span [style.textShadow]='avgTextShadow()'>ממוצע</span>
        <span [style.textShadow]='avgTextShadow()'>ממוצע</span>
    </div>
    <div class='result' [class.visible]='resultVisible' #result [style.left]='resultPos + "px"'>
        <span [style.textShadow]='avgTextShadow()'>הניחוש שלך</span>
        <span [style.textShadow]='avgTextShadow()'>הניחוש שלך</span>
    </div>
    
</div>