@import '../../common.less';

:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: row-reverse;
    .mobile {
        padding-top: 24px;
    }

    .countries {
        .desktop({
            flex: 0 0 120px;
        });
        .mobile({
            flex: 0 0 30px;
        });
        height: 100%;
        position: relative;
        ::ng-deep {
            .label {
                position: absolute;
                right: 6px;
                display: flex;
                flex-flow: row;
                align-items: center;
                color: @color-white;    
                .name {
                    .font-supporting;
                    font-weight: 300;
                    font-size: 13px;
                    white-space: nowrap;
                    .mobile({
                        display: none;
                    });
                }
                .flag {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: center;
                    width: 16px;
                    height: 16px;
                    // .background-image('assets/flag-bg.svg');
                    background-size: 14px 10px;
                    background-position: 1px 2.75px;
                    font-size: 12px;
                    .font-flag;
                    text-shadow: #fff 1px 1px 1px, #fff -1px -1px 1px, #fff -1px 1px 1px, #fff 1px -1px 1px;
                }
                &.highlight {
                    .name {
                        font-weight: 700;
                    }
                }
            }
        }
        opacity: 0;
        background-color: fade(@color-black, 10%);
        &.visible {
            opacity: 1;
            &.intro {
                background-color: transparent;
                ::ng-deep {
                    .label {
                        color: @color-text;
                    }
                }    
            }
        }
        .transition(opacity background-color);
    }
    .chart {
        flex: 1 1 100%;
        height: 100%;
        position: relative;
        ::ng-deep {
            .bar {
                position: absolute;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                &.estimated {
                    background-image: url('../../assets/img/missing-data.svg');
                    background-repeat: repeat;
                    background-size: 12px;

                    &.estimated-e8eae6 {
                        background-image: url('../../assets/img/missing-data-e8eae6.svg');
                    }
                    &.estimated-61589c {
                        background-image: url('../../assets/img/missing-data-61589c.svg');
                    }
                    &.estimated-a23067 {
                        background-image: url('../../assets/img/missing-data-a23067.svg');
                    }
                    &.estimated-9e3409 {
                        background-image: url('../../assets/img/missing-data-9e3409.svg');
                    }
                    &.estimated-243856 {
                        background-image: url('../../assets/img/missing-data-243856.svg');
                    }
                }
            }
            .country-hl {
                color: @color-white;
                .font-supporting;
                font-size: 16px;
                font-weight: 700;
                padding: 4px 8px;
                border-radius: 4px;
                position: absolute;
                overflow: visible;

                .tag {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(-50%, -50%)rotate(-45deg);
                    width: 8px;
                    height: 8px;
                    border-radius: 2px;
                }
            }    
        }
        .grid {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-repeat: repeat;
            background-position: 0 0;
            border-left: fade(@color-white, 25) 1px solid;
            pointer-events: none;
        }

        .average, .result {
            position: absolute;
            top: 0;
            left: 100px;
            width: 0;
            height: 100%;
            border: none;
            border-right: 1px dashed @color-white;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            z-index: 1;
            .transition(left opacity);
            opacity: 0;
            transition-duration: calc(@transition-duration / 5);
            &.visible {
                opacity: 1;
                transition-duration: @transition-duration;
            }

            span {
                transform: rotate(-90deg);
                .font-supporting;
                color: @color-white;
                font-size: 13px;
                font-weight: 300;
                padding: 2px;
                padding-top: 3px;
                .transition(text-shadow);
                white-space: nowrap;
            }
        }

        .result {
            padding: 28px 0;
        }

        .mobile({
            .average {
                padding-top: 32px;
            }
            .result {
                padding-top: 44px;
            }
        });

        &.intro {
            .grid {
                border-left: fade(@color-text, 25) 1px solid;
            }
            .average {
                border-color: @color-text;
                span {
                    color: @color-text;
                }
            }
        }

        .chart-title {
            position: absolute;
            .desktop({
                bottom: 8px;
                right: 16px;    
                gap: 4px;
            });
            .mobile({
                top: 0px;
                left: -18px;
                gap: 12px;
                backdrop-filter: blur(1px);
                padding-top: 4px;
                z-index: 2;
            });
            display: flex;
            flex-flow: row;
            align-items: center;
            opacity: 0;
            &.visible {
                opacity: 0.7;
            }

            span {
                color: @color-white;
                .font-supporting;
                .desktop({
                    font-size: 20px;
                    line-height: 24px;
                });
                .mobile({
                    font-size: 13px;
                    line-height: 16px;
                });
                font-weight: 400;
            }
            .icon-pre, .icon-post {
                display: inline-block;
                width: 12px;
                height: 12px;
                flex: 0 0 auto;
                .background-image('assets/img/icon-graph-title-white.svg');
                background-size: 12px 9px;
                background-position: top center;
            }

            &.intro {
                .icon-pre, .icon-post {
                    .background-image('assets/img/icon-graph-title-text.svg');
                    background-size: 12px 9px;
                    background-position: top center;
                }

                span {
                    color: @color-text;
                }
            }
        }
    }
}