@import '../../common.less';

.bs {
    box-shadow: 0px 0px 16px 0px #243856, 0px 0px 4px 0px #243856, 0px 0px 8px 0px #243856;
}

:host {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 26px;

    width: 100%;

    .selector-title {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 8px;
        min-height: 32px;
        width: 100%;

        .selector {
            flex: 0 0 auto;
            width: 24px;
            height: 24px;
            background-size: 24px;
    
            &.show {
                .button-image('assets/img/icon-state=show.svg');
            }
            &.hide {
                .button-image('assets/img/icon-state=hide.svg');
            }
            &.spotlight {
                .button-image('assets/img/icon-state=spotlight.svg');
            }
        }
    
        .title {
            flex: 1 1 auto;
            .title-text {
                color: @color-white;
                .font-regular;
                font-size: 20px;
                line-height: 20px;
            
                &.bold {
                    .font-bold;
                }
                &.hide {
                    text-decoration-line: line-through;
                    opacity: 0.5;
                } 
            }
    
            .weight {
                color: @color-white;
                .font-supporting;
                font-size: 16px;
                font-weight: 300;
                line-height: 16px;
            }
        }

        .toggle-open {
            margin-right: auto;
            flex: 0 0 auto;
            width: 16px;
            height: 24px;
            background-size: 16px 24px;
            transition: transform 0.3s;
    
            .button-image('assets/img/icon-open-toggle.svg');

            &.open {
                transform: rotate(180deg);
            }
        }

        .doc-link {
            margin-right: auto;
            flex: 0 0 auto;
            width: 18px;
            height: 18px;
            background-size: 18px;
            position: relative;
    
            .button-image('assets/img/icon-external-link.svg');

            .tooltip {
                position: absolute;
                width: fit-content;
                top: 0;
                right: 18px;
                background-color: #fff;
                border-radius: 4px;
                display: none;
                transform: translateY(-50%)translate(-8px, 9px);
                padding: 4px 8px;
                text-shadow: none;
                color: @color-text;
                .font-supporting;
                font-size: 13px;
                font-weight: 700;
                white-space: nowrap;
                line-height: normal;

                &::after {
                    content: '';
                    position: absolute;
                    transform: rotate(-135deg);
                    width: 8px;
                    height: 8px;
                    top: calc(50% ~'-' 4px);
                    right: -4px;
                    background-color: white;
                }
            }

            &:hover {
                .tooltip {
                    display: block;
                }
            }
        }
    }

    input[type="range"] {
        flex: 0 0 auto;
        width: 100%;
        max-width: 250px;

        // -webkit-appearance: none;  /* Override default CSS styles */
        // appearance: none;
        // height: 4px; /* Specified height */
        // background: #d3d3d3; /* Grey background */
        // outline: none; /* Remove outline */
        // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */

        -webkit-appearance: none;
        appearance: none;
        height: 4px;
        border-radius: 2px;
        background: transparent;
        &.bold {
            height: 12px;
            border-radius: 6px;
        }
        background-position: center right;

        .slider-track({
            box-shadow: none;
            border: none;
            // background-image: linear-gradient(#ff4500, #ff4500);
            // background-size: 70% 100%;
            // background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            .background-image('assets/img/slider-bg.svg');
            background-size: cover;
            background-blend-mode: hue;
        });

        &.bold {
            .slider-track({
                .background-image('assets/img/slider-bg-bold.svg');
            })
        }

        .slider-thumb({
            width: 24px;
            height: 32px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            .background-image('assets/img/icon-handle-type=default-state=default.svg');
            &:hover {
                .background-image('assets/img/icon-handle-type=default-state=hover.svg');
            }
            &:active {
                .background-image('assets/img/icon-handle-type=default-state=active.svg');
            }
        });

        &.bold {
            .slider-thumb({
                .background-image('assets/img/icon-handle-type=group-state=default.svg');
                &:hover {
                    .background-image('assets/img/icon-handle-type=group-state=hover.svg');
                }
                &:active {
                    .background-image('assets/img/icon-handle-type=group-state=active.svg');
                    background-color: #243856;
                }
            });
        }
        // &.active {
        //     .slider-thumb({
        //         .background-image('assets/img/icon-handle-type=default-state=active.svg');
        //         background-color: #243856;
        //         &:hover {
        //             .background-image('assets/img/icon-handle-type=default-state=hover.svg');
        //             background-color: white;
        //         }
        //     });
        // }
        // &.bold.active {
        //     .slider-thumb({
        //         .background-image('assets/img/icon-handle-type=group-state=active.svg');
        //         background-color: #243856;
        //         &:hover {
        //             .background-image('assets/img/icon-handle-type=group-state=hover.svg');
        //             background-color: white;
        //         }
        //     });
        // }

        &.bold {
            &::-webkit-slider-thumb {
                margin-top: -10px;
            }
        }
        &:not(.bold) {
            &::-webkit-slider-thumb {
                margin-top: -14px;
            }
        }
        &.cancel {
            .slider-thumb({
                width: 32px;
                height: 32px;
                border-radius: 16px;
                .background-image('assets/img/slider-handle-cancel.svg') !important;
                &:hover {
                    .background-image('assets/img/slider-handle-cancel-hover.svg') !important;
                    background-color: #243856 !important;
                }
            });
        }

        background-color: #243856;
        .bs;
    }
}