<div class='selector-title'>
        <button [class]='"selector " + state' (click)='toggle()'></button>
        <span class='title'>
                <span class='title-text' [class.bold]='bold' [class.hide]='state === "hide"'>{{title}}</span>
                <span class='weight' *ngIf='weight_ > 1 && !cancel'> × {{weight_}}</span>
        </span>
        <span *ngIf='bold' class='toggle-open' [class.open]='open' (click)='openToggle.emit(!open)'></span>
</div>
<input type='range' min='0' max='5' step='1' [(ngModel)]='value'
        (mousedown)='setMoving(true)' (mouseup)='setMoving(false)'
        [class.bold]='bold'
        [class.active]='weight_ > 1'
        [class.cancel]='cancel'
        [style.background-image]='gradient'
>
